# Installing MySQL Connector

In [2]:
!python -m pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp39-cp39-win_amd64.whl (7.9 MB)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\cs-l1-pc13\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.31
Collecting mysql-connector-python
  Using cached mysql_connector_python-8.0.31-cp39-cp39-win_amd64.whl (7.9 MB)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\cs-l1-pc13\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.31

# Import MySQL Connector

In [3]:
import mysql.connector as con

# Connection to DATABASE

In [6]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger"
)
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001BB3BDD6130>

# Creating a DataBase

In [7]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger"
)
new_cursor = new_db.cursor()
new_cursor.execute("CREATE DATABASE yourData")

# Check if database exists (created)

In [8]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger"
)
new_cursor = new_db.cursor()
new_cursor.execute("SHOW DATABASES")
for n in new_cursor:
    print(n)

('information_schema',)
('mydata',)
('mysql',)
('performance_schema',)
('sys',)
('yourdata',)

In [16]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger"
)
new_cursor = new_db.cursor()
new_cursor.execute("USE yourdata")

# Creating Tables and showing Data

In [18]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "yourdata"
)
new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE student (name VARCHAR(200), regno VARCHAR(10))")

# List all Tables in new database

In [20]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "yourdata"
)
new_cursor = new_db.cursor()
new_cursor.execute("SHOW TABLES")
for n in new_cursor:
    print(n)

('student',)

# Add primary key when creating table

In [23]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "yourdata"
)
new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE students (rollno INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(200), regno VARCHAR(10))")

# Add primary key if table already exists

In [24]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "yourdata"
)
new_cursor = new_db.cursor()
new_cursor.execute("ALTER TABLE student ADD COLUMN rollno INT AUTO_INCREMENT PRIMARY KEY")

# Inserting data into Tables

In [26]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "yourdata"
)
new_cursor = new_db.cursor()
sql = "INSERT INTO student (name, regno) VALUES (%s, %s)"
values = ("Aarohi", "2001")
new_cursor.execute(sql, values)
new_db.commit()
print(new_cursor.rowcount, "new record inserted")

1 new record inserted

# Inserting multiple records into table

In [27]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "yourdata"
)
new_cursor = new_db.cursor()
sql = "INSERT INTO student (name, regno) VALUES (%s, %s)"
values = [("Amyra", "2002"),
         ("Neil", "2003"),
         ("Nitesh", "2004")]
new_cursor.executemany(sql,values)
new_db.commit()
print(new_cursor.rowcount, "new record inserted")

3 new record inserted

# Retrieve data from Table

In [4]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "yourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM student"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Aarohi', '2001', 1)
('Amyra', '2002', 2)
('Neil', '2003', 3)
('Nitesh', '2004', 4)
('Varsha', '2005', 5)

# Retrieve particular data from table

In [29]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "yourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT name FROM student"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Aarohi',)
('Amyra',)
('Neil',)
('Nitesh',)

# Retrieve first record from table

In [30]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "yourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM student"
new_cursor.execute(sql)
result = new_cursor.fetchone()
print(result)

('Aarohi', '2001', 1)

# Filter the records

In [31]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "yourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM student WHERE name = 'Neil'"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Neil', '2003', 3)

# Retrieve records using wildcard character

In [38]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "yourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM student WHERE regno LIKE '%00%'"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Aarohi', '2001', 1)
('Amyra', '2002', 2)
('Neil', '2003', 3)
('Nitesh', '2004', 9)

# Sorting the Records

In [36]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "yourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM student ORDER BY name DESC"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Nitesh', '2004', 4)
('Neil', '2003', 3)
('Amyra', '2002', 2)
('Aarohi', '2001', 1)

In [37]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "yourdata"
)
new_cursor = new_db.cursor()
sql = "INSERT INTO student (name, regno) VALUES (%s, %s)"
values = ("Nitesh", "2004")
new_cursor.execute(sql, values)
new_db.commit()
print(new_cursor.rowcount, "new record inserted")

1 new record inserted

# Deleting Record From Table

In [35]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "yourdata"
)
new_cursor = my_db.cursor()
sql = "DELETE FROM student WHERE name = %s"
value = ("Varsha",)
new_cursor.execute(sql, value)
my_db.commit()
print(new_cursor.rowcount, "records deleted from table")

1 records deleted from table

# Deleting Table

In [1]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "yourdata"
)
new_cursor = my_db.cursor()
sql = "DROP TABLE IF EXISTS students"
new_cursor.execute(sql)

# Updating Table

In [4]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "yourdata"
)
new_cursor = my_db.cursor()
sql = "UPDATE student SET regno = %s WHERE rollno = %s"
value = ("2003", "3")
new_cursor.execute(sql,value)
my_db.commit()
print(new_cursor.rowcount, "records Updated")

1 records Updated

# Retrieve exact number of records from table

In [16]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "yourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM student LIMIT 3 OFFSET 1"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Amyra', '2002', 2)
('Neil', '2003', 3)
('Nitesh', '2004', 9)