## 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [1]:
import numpy as np
import pandas as pd

a=np.random.randn(5)
df=pd.DataFrame(a)

print(a)
df

[ 0.66721044 -0.18200221 -0.32886033  1.89611609 -0.3729472 ]

          0
0  0.667210
1 -0.182002
2 -0.328860
3  1.896116
4 -0.372947

## 2. Write a Pandas program to convert a Panda module Series to Python list and it’s type.
## ds = pd.Series([2, 4, 6, 8, 10])

In [2]:
ds = pd.Series([2, 4, 6, 8, 10])
ls = list[ds]
print(ds)
print(type(ds))
print("\n",ls)
print(type(ls))

0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>

 list[0     2
1     4
2     6
3     8
4    10
dtype: int64]
<class 'types.GenericAlias'>

## 3.Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
## Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [3]:
ser1 = pd.Series([2, 4, 6, 8, 10])
ser2 = pd.Series([1, 3, 5, 7, 9])

print("Addition: ") 
print(ser1+ser2)

print("\nSubtraction: ") 
print(ser1-ser2)

print("\nMultiplication: ")
print(ser1*ser2)

print("\nDivision: ")
print(ser1/ser2)

Addition:
0     3
1     7
2    11
3    15
4    19
dtype: int64

Subtraction:
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiplication:
0     2
1    12
2    30
3    56
4    90
dtype: int64

Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

## 4. Write a Pandas program to compare the elements of the two Pandas Series.
## Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [4]:
ser1 = pd.Series([2, 4, 6, 8, 10])
ser2 = pd.Series([1, 3, 5, 7, 9])

print(ser1 > ser2)
print(ser2 > ser1)
print(ser2 < ser1)
print(ser1 < ser2)
print(ser1 == ser2)

0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

## 5. Write a Pandas program to convert a dictionary to a Pandas series.
## Sample dictionary: d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}

In [5]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print(d1)
print(type(d1))

pdd1 = pd.Series(d1)
print()
print(pdd1)
print(type(pdd1))

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
<class 'dict'>

a    100
b    200
c    300
d    400
e    800
dtype: int64
<class 'pandas.core.series.Series'>

## 6. Write a Pandas program to convert a NumPy array to a Pandas series.
## Sample NumPy array: d1 = [10, 20, 30, 40, 50]

In [6]:
import numpy as np
import pandas as pd

d1 = np.array([10, 20, 30, 40, 50])
print(d1)
print(type(d1))

pdd1 = pd.Series(d1)
print()
print(pdd1)
print(type(pdd1))

[10 20 30 40 50]
<class 'numpy.ndarray'>

0    10
1    20
2    30
3    40
4    50
dtype: int32
<class 'pandas.core.series.Series'>

## 7. Write a Pandas program to change the data type of given a column or a Series.

In [7]:
import pandas as pd

ser1 = pd.Series([100, 200, 'python', 300.12, 400])
print(ser1)

ser2 = pd.to_numeric(ser1, errors='coerce')

0       100
1       200
2    python
3    300.12
4       400
dtype: object

## 8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [8]:
import pandas as pd
df = pd.DataFrame([
    ['Amyra', 19, 14, 18, 19],
    ['Neil', 18, 10, 17, 16],
    ['Nitesh', 17, 16, 18, 15]
],
columns=['Name', 'DSP', 'OSA', 'JAVA', 'SE'])

print(df)
print(type(df))

fc = df.iloc[:,0]
dfc = pd.Series(fc)
print()
print(dfc)
print(type(dfc))

     Name  DSP  OSA  JAVA  SE
0   Amyra   19   14    18  19
1    Neil   18   10    17  16
2  Nitesh   17   16    18  15
<class 'pandas.core.frame.DataFrame'>

0     Amyra
1      Neil
2    Nitesh
Name: Name, dtype: object
<class 'pandas.core.series.Series'>

In [9]:
df.loc[:2, 'Name']

0     Amyra
1      Neil
2    Nitesh
Name: Name, dtype: object

## 9.Write a Pandas program to convert a given Series to an array.

In [10]:
ser = pd.Series(['Koya', 'RJ', 'Shooky', 'Mang', 'Chimmy', 'Tata', 'Cooky'])
print(ser)
print(type(ser))
print()

npy = np.array(ser)
print(npy)
print(type(npy))

0      Koya
1        RJ
2    Shooky
3      Mang
4    Chimmy
5      Tata
6     Cooky
dtype: object
<class 'pandas.core.series.Series'>

['Koya' 'RJ' 'Shooky' 'Mang' 'Chimmy' 'Tata' 'Cooky']
<class 'numpy.ndarray'>

## 10. Write a Pandas program to convert Series of lists to one Series.

In [11]:
ser = pd.Series([['Koya', 'RJ', 'Shooky'], ['Mang', 'Chimmy', 'Tata', 'Cooky']])
print(ser)

0             [Koya, RJ, Shooky]
1    [Mang, Chimmy, Tata, Cooky]
dtype: object

## 11. Write a Pandas program to sort a given Series.

In [12]:
ser = pd.Series(['Koya', 'RJ', 'Shooky','Mang', 'Chimmy', 'Tata', 'Cooky'])
print(ser)
print()

#print(ser.argsort())
#print()
#print(ser[ser.argsort()])

print(ser.sort_values())

0      Koya
1        RJ
2    Shooky
3      Mang
4    Chimmy
5      Tata
6     Cooky
dtype: object

4    Chimmy
6     Cooky
0      Koya
3      Mang
1        RJ
2    Shooky
5      Tata
dtype: object

## 12. Write a Pandas program to add some data to an existing Series.

In [13]:
ser = pd.Series(['Koya', 'RJ', 'Shooky','Mang'])
ser.append(pd.Series(['Chimmy', 'Tata', 'Cooky']))

C:\Users\CS-L1-PC13\AppData\Local\Temp\ipykernel_5252\2036090460.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser.append(pd.Series(['Chimmy', 'Tata', 'Cooky']))

0      Koya
1        RJ
2    Shooky
3      Mang
0    Chimmy
1      Tata
2     Cooky
dtype: object

## 13. Write a Pandas program to create a subset of a given series based on value and condition.

In [14]:
ser = pd.Series([12, 15, 10, 6, 4, 5, 18, 26, 4, 30])
new_s = ser[ser<10]
print(new_s)

3    6
4    4
5    5
8    4
dtype: int64

## 14. Write a Pandas program to change the order of index of a given series.

In [15]:
ser = pd.Series(['Koya', 'RJ', 'Shooky', 'Mang', 'Chimmy', 'Tata', 'Cooky'], index=['a', 'b', 'c', 'd', 'e','f','g'])
print(ser)
ser = ser.reindex(index = ['b','a','g','c','e','d','f'])
print(ser)

a      Koya
b        RJ
c    Shooky
d      Mang
e    Chimmy
f      Tata
g     Cooky
dtype: object
b        RJ
a      Koya
g     Cooky
c    Shooky
e    Chimmy
d      Mang
f      Tata
dtype: object

## 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [16]:
ser = pd.Series([4, 2, 8, 6, 10, 5])
print(ser.mean())
print(ser.std())

5.833333333333333
2.8577380332470415

## 16. Write a Pandas program to get the items of a given series not present in another given series.

In [17]:
sr1 = pd.Series([1,2,3,4,5])
sr2 = pd.Series([4,5,6,7,8])
nps = sr1[~sr1.isin(sr2)]
nps

0    1
1    2
2    3
dtype: int64

## 17. Write a Pandas program to get the items which are not common of two given series.

In [18]:
ser1 = pd.Series([1,2,3,4,5])
ser2 = pd.Series([4,5,6,7,8])

union = pd.Series(np.union1d(ser1,ser2))
print(union)

inter = pd.Series(np.intersect1d(ser1, ser2))
print(inter)

ncs = union[~union.isin(inter)]
print(ncs)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
0    4
1    5
dtype: int64
0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

## 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [19]:
ser2 = pd.Series([15,20,25,30,10,5])
print(ser2.min())
print(ser2.max())
print(ser2.median())

r = np.percentile(ser2, q=[0, 25, 50, 75, 100])
r

5
30
17.5

array([ 5.  , 11.25, 17.5 , 23.75, 30.  ])

## 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [20]:
ser2 = pd.Series([1,2,3,4,5,5,4,3,3,4,5,4])
result = ser2.value_counts()
result

4    4
3    3
5    3
1    1
2    1
dtype: int64

## 20. Write a Pandas program to display most frequent value in a given series and replace everything else as ‘Other’ in the series.

In [27]:
ser2 = pd.Series([1,2,3,4,5,5,4,3,3,4,5,4])
res = ser2[~ser2.isin(ser2.value_counts().index[:1])] = 'Other'
ser2

0     Other
1     Other
2     Other
3         4
4     Other
5     Other
6         4
7     Other
8     Other
9         4
10    Other
11        4
dtype: object

## 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [28]:
import pandas as pd
import numpy as np
num_series = pd.Series(np.random.randint(1, 10, 9))
print("Original Series:")
print(num_series)
result = np.where(num_series % 5==0)
print("Positions of numbers that are multiples of 5:")
print(result)

Original Series:
0    4
1    9
2    9
3    3
4    1
5    4
6    4
7    8
8    9
dtype: int32
Positions of numbers that are multiples of 5:
(array([], dtype=int64),)

## 22. Write a Pandas program to extract items at given positions of a given series.

In [29]:
import pandas as pd
num_series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]
print("Original Series:")
print(num_series)
result = num_series.take(element_pos)
print("\nExtract items at given positions of the said series:")
print(result)

Original Series:
0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
13    3
14    9
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: object

Extract items at given positions of the said series:
0     2
2     9
6     8
11    0
21    3
dtype: object

## 23. Write a Pandas program to get the positions of items of a given series in another given series.

In [30]:
import pandas as pd
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series2 = pd.Series([1, 3, 5, 7, 10])
print("Original Series:")
print(series1)
print(series2)
result = [pd.Index(series1).get_loc(i) for i in series2]
print("Positions of items of series2 in series1:")
print(result)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1:
[0, 2, 4, 6, 9]

## 24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

In [31]:
import pandas as pd
series1 = pd.Series(['php', 'python', 'java', 'c#'])
print("Original Series:")
print(series1)
result = series1.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("\nFirst and last character of each word to upper case:")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

## 25. Write a Pandas program to calculate the number of characters in each word in a given series.

In [32]:
import pandas as pd
series1 = pd.Series(['Php', 'Python', 'Java', 'C#'])
print("Original Series:")
print(series1)
result = series1.map(lambda x: len(x))
print("\nNumber of characters in each word in the said series:")
print(result)

Original Series:
0       Php
1    Python
2      Java
3        C#
dtype: object

Number of characters in each word in the said series:
0    3
1    6
2    4
3    2
dtype: int64

## 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [33]:
import pandas as pd
series1 = pd.Series([1, 3, 5, 8, 10, 11, 15])
print("Original Series:")
print(series1)
print("\nDifference of differences between consecutive numbers of the said series:")
print(series1.diff().tolist())
print(series1.diff().diff().tolist())

Original Series:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

## 27. Write a Pandas program to convert a series of date strings to a timeseries.

In [34]:
import pandas as pd
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
print("\nSeries of date strings to a timeseries:")
print(pd.to_datetime(date_series))

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

## 28. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [35]:
import pandas as pd
from dateutil.parser import parse
date_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
print("Original Series:")
print(date_series)
print("\nNew dates:")
result = date_series.map(lambda d: parse('11 ' + d))
print(result)

Original Series:
0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

New dates:
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

## 29. Write a Pandas program to filter words from a given series that contain atleast two vowels.

In [36]:
import pandas as pd
from collections import Counter
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(color_series)
print("\nFiltered words:")
result = mask = color_series.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(color_series[result])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

## 30. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

In [37]:
import pandas as pd
result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
print("All Sundays of 2019:")
print(result)

All Sundays of 2019:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

## 31. To get Indexes & values  of all non zero values in a series

In [38]:
import pandas as pd 
import numpy as np 

list =[1, 0, 12, 1, 0, 4, 22, 0, 3, -9]
srs1 = pd.Series(list)
srs1[srs1!=0]

0     1
2    12
3     1
5     4
6    22
8     3
9    -9
dtype: int64