# Find the Addition of five numbers

In [1]:
a = int(input("Enter num1: "))
b = int(input("Enter num2: "))
c = int(input("Enter num3: "))
d = int(input("Enter num4: "))
e = int(input("Enter num5: "))
sum = a+b+c+d+e
print("The sum of given five numbers is " ,sum)

Enter num1: 5
Enter num2: 6
Enter num3: 4
Enter num4: 3
Enter num5: 2
The sum of given five numbers is  20

# Find the Simple & Compound Interest

In [2]:
P = float(input("Enter amount: "))
T = float(input("Enter time: "))
R = float(input("Enter rate: "))
SI = P*T*R/100
CI = P*((1+R/100)**T-1)
print("Simple Interest is: %2f" %(SI))
print("Compound Interest is: %2f" %(CI))

Enter amount: 5000
Enter time: 2
Enter rate: 18
Simple Interest is: 1800.000000
Compound Interest is: 1962.000000

# Find the Area of Rectangle

In [3]:
l = int(input("Length: "))
b = int(input("Breadth: "))
arearect= l*b
print("Area of rectangle: ",arearect)

Length: 2
Breadth: 5
Area of rectangle:  10

# Find the Area of Triangle

In [4]:
b = int(input("Base: "))
h = int(input("Height: "))
areatri=  1/2 * (b * h)
print("Area of Triangle: ", areatri)

Base: 5
Height: 6
Area of Triangle:  15.0

# Find square and cube of given number

In [5]:
num = int(input("Enter the number: "))
s = num*num
c = num*num*num
print("Square of the given number is ", s)
print("Cube of the given number is ", c)

Enter the number: 2
Square of the given number is  4
Cube of the given number is  8

# Check whether the person is eligible to vote or not

In [6]:
age = int(input("Enter your age: "))
if (age>17):
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age: 18
You are eligible to vote

# Check whether the number is even or odd

In [7]:
num = int(input("Enter the number: "))
if (num%2==0):
    print("The given number is even")
else: 
    print("The given number is odd")

Enter the number: 5
The given number is odd

# Check whether the number is positive or not

In [8]:
num = int(input("Enter the number: "))
if (num>0):
    print("The given number is positive")
else: 
    print("The given number is negative")

Enter the number: -9
The given number is negative

# Check whether the number is single digit or not

In [9]:
num = int(input("Enter the number: "))
if (num>=-9 and num<10):
    print("The given number is single digit")
else:
    print("The given number is not a single digit")

Enter the number: -5
The given number is single digit

# Enter the time in 24hr format and convert it into 12hr

In [10]:
hour = int(input("Enter the hour: "))
minute = input("Enter the minute: ")
print("Given time= {0}:{1}" .format(hour,minute))
if hour>12:
    t1 = hour - 12
    print("Time= {0}:{1} PM" .format(t1, minute))
else:
    print("Time= {0}:{1} AM" .format(hour, minute))

Enter the hour: 21
Enter the minute: 45
Given time= 21:45
Time= 9:45 PM

# From Notes

# Printing a message

In [11]:
print("God helps those who help themselves")

God helps those who help themselves

# Python program to add two numbers

In [12]:
num1 = 15
num2 = 12
sum = num1 +num2
print("Sum of {0} and {1} is {2}" .format(num1, num2, sum))

Sum of 15 and 12 is 27

# Python program to print ASCII value of character

In [13]:
c = 'g'
print("The ASCII value of '" +c+ "' is",ord(c))

The ASCII value of 'g' is 103

# To check whether the number is prime or not

In [14]:
def isPrime(n):
    if (n==1 or n==0):
        return False
    for i in range(2,n):
        if (n%i==0):
            return False
    return True

N = 100
for i in range(1, N+1):
    if (isPrime(i)):
        print(i, end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# Python program to find Area of a circle

In [15]:
def findArea(r):
    PI = 3.142
    return PI * (r*r)
print ("Area is %.6f" % findArea(5))

Area is 78.550000

# Python program to find maximum in arr[] of size n

In [16]:
def largest(arr, n):
    max = arr [0]
    for i in range(1, n):
        if arr[i] > max:
            max = arr[i]
    return max

arr = [10, 324, 45, 90, 9808]
n = len(arr)
Ans = largest (arr, n)
print("Largest in given array ",Ans)

Largest in given array  9808

# Python program to find the sum of array

In [17]:
def Sum(arr):
    sum = 0
    for i in arr:
        sum = sum + i
    return(sum)

arr = []
arr = [12, 3, 4, 15]
n = len(arr)
ans = Sum(arr)
print("Sum of the array is", ans)

Sum of the array is 34

# Python program to find the nth Fibonacci number

In [18]:
def fibonacci(n):
    if n<0:
        print("Incorrect input")
    elif n==0:
        return 0
    elif n==1 or n==2:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
print(fibonacci(9))

34

# PYTHON LIST

Python list is an ordered sequence of items.

# Exercise 1: Find the sum of numbers in the list.

In [19]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8]))

-5

# Exercise 2: Find the largest element in the list.

In [1]:
def max_num_in_list(list):
    max = list [0]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([1,2,-8,0]))

2

# Exercise 3: Reverse a list in Python

In [4]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

list1 = [100, 200, 300, 400, 500]
list1 = list1[::-1]
print(list1)

[500, 400, 300, 200, 100]
[500, 400, 300, 200, 100]

# Exercise 4: Concatenate two lists index-wise.

Use the zip() function. This function takes two or more iterables(like list, dict, string), aggregates them in a tuple, and returns it.

In [3]:
list1 = ["M", "na", "i", "Var"]
list2 = ["y", "me", "s", "sha"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Varsha']

In [5]:
list1 = ["Hello ", "Namaste "]
list2 = ["Madam", "Sir"]
res = [x+y for x in list1 for y in list2]
print(res)

['Hello Madam', 'Hello Sir', 'Namaste Madam', 'Namaste Sir']

# Exercise 5: Turn every item of a list into its square.

In [4]:
numbers = [1, 2, 3, 4, 5, 6, 7]
res = []
for i in numbers:
    res.append(i*i)
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7]
res = [x*x for x in numbers]
print(res)

[1, 4, 9, 16, 25, 36, 49]

# Exercise 6: Remove empty strings from the list of strings.

In [24]:
list1 = ["Aarohi", "", "Neil", "Amyra", "", "Nitesh"]
res = list(filter(None, list1))
print(res)

['Aarohi', 'Neil', 'Amyra', 'Nitesh']

In [10]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)
print(list1[2][2][2])

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
7000

# Exercise 7: Remove all occurrences of a specific item from a list.

In [6]:
list1 = [5, 20, 15, 20, 25, 50, 20]
def remove_value(sample_list, val):
    return [i for i in sample_list if i!=val]
res = remove_value(list1, 20)
print(res)

[5, 15, 25, 50]

In [11]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]

# PYTHON DICTIONARY

Python dictionary is a mutable object, and it contains the data in the form of key-value pairs. Each key is seperated from its value by a colon.

# Exercise 1: Convert two lists into a dictionary

In [12]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
res_dict = dict(zip(keys, values))
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [13]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
res_dict = dict()
for i in range(len(keys)):
    res_dict.update({keys[i]:values[i]})
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Exercise 2: Merge two python dictionaries into one

In [15]:
dict1 = {'Ten' : 10, 'Twenty' : 20, 'Thirty' : 30}
dict2 = {'Thirty' : 30, 'Forty' : 40, 'Fifty' : 50}

dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Forty': 40, 'Fifty': 50}

# Exercise 3: Print the value of key 'history' from the below dict

In [23]:
sampleDict = {
    "class" : {
        "student" : {
            "name" : "Avni",
            "marks" : {
                "physics" : 70,
                "history" : 80
            }
        }
    }
}

print(sampleDict)
print(sampleDict['class']['student']['marks']['history'])

{'class': {'student': {'name': 'Avni', 'marks': {'physics': 70, 'history': 80}}}}
80

# Exercise 4: Initialize dictionary with default values

In [22]:
employees = ['Aarohi', 'Neil']
defaults = {"designation" : 'Developer', "salary" : 8000}
res = dict.fromkeys(employees, defaults)
print(res)
print("Aarohi = ", res["Aarohi"])
print("Neil = ", res["Neil"])

{'Aarohi': {'designation': 'Developer', 'salary': 8000}, 'Neil': {'designation': 'Developer', 'salary': 8000}}
Aarohi =  {'designation': 'Developer', 'salary': 8000}
Neil =  {'designation': 'Developer', 'salary': 8000}

# Exercise 5: Create a dictionary by extracting the keys from a given dictionary

In [9]:
sample_dict = {
    "name" : "Aarohi",
    "age" : 20,
    "salary" : 10000,
    "city" : "Mumbai"
}

keys = ["name", "salary"]

newDict = {k: sample_dict[k] for k in keys}
print(newDict)

{'name': 'Aarohi', 'salary': 10000}

# Exercise 6: Delete a list of keys from a dictionary

In [7]:
sample_dict = {
    "name" : "Aarohi",
    "age" : 20,
    "salary" : 10000,
    "city" : "Mumbai"
}

keys = ["name", "salary"]

for k in keys:
    sample_dict.pop(k)
print(sample_dict)

{'age': 20, 'city': 'Mumbai'}

# Exercise 7: Check if a value exists in a dictionary

In [28]:
sample_dict = {'a': 100, 'b': 200, 'c' : 300}
if 200 in sample_dict.values():
    print('200 present in a dict')

200 present in a dict

# Exercise 8: Rename key of a dictionary

In [29]:
sample_dict = {
    "name" : "Aarohi",
    "age" : 20,
    "salary" : 10000,
    "city" : "Mumbai"
}

sample_dict ['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Aarohi', 'age': 20, 'salary': 10000, 'location': 'Mumbai'}

# Exercise 9: Get the key of a minimum value from the dictionary

In [30]:
sample_dict = {
    'Physics' : 82,
    'Math' : 65,
    'History' : 75
}
print(min(sample_dict, key=sample_dict.get))

Math

# Exercise 10: Change value of a key in a nested dictionary

In [32]:
sample_dict = {
    'emp1' : {'name' : 'Aarohi', 'salary' : 75000},
    'emp2' : {'name' : 'Amyra', 'salary' : 60000},
    'emp3' : {'name' : 'Neil', 'salary' : 55000},
    'emp4' : {'name' : 'Nitesh', 'salary' : 40000}
}

sample_dict['emp4']['salary'] = 45000
print(sample_dict)

{'emp1': {'name': 'Aarohi', 'salary': 75000}, 'emp2': {'name': 'Amyra', 'salary': 60000}, 'emp3': {'name': 'Neil', 'salary': 55000}, 'emp4': {'name': 'Nitesh', 'salary': 45000}}

# PYTHON SET

Set in python is an unordered collection of items. Everu item is unique in it. i.e., the set doesn't allow duplicates

# Exercise 1: Add a list of elements to a set

In [33]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
print(sample_set)

{'Yellow', 'Black', 'Green', 'Orange', 'Blue', 'Red'}

# Exercise 2: Return a new set of identical items from two sets

In [40]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.intersection(set2))

{40, 50, 30}

# Exercise 3: Get only unique items from two sets

In [35]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

# Exercise 4: Update the first set with items that don't exist in the second set

In [36]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

# Exercise 5: Remove items from the set at once

In [37]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{50, 40}

# Exercise 6: Return a set of elements present in set A or B, but not both

In [38]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

# Exercise 7: Check if two sets have any elements in common. If yes, display the common elements

In [39]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
if set1.isdisjoint(set2):
    print("Two sets have no items in common")
else:
    print("Two sets have items in common")
    print(set1.intersection(set2))

Two sets have items in common
{10}

# Exercise 8: Update set1 by adding items from set2, except common items

In [41]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

# Exercise 9: Remove items from set1 that are not common to both set1 and set2

In [2]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)

{40, 50, 30}

# Python Tuple

A tuple is an immutable object in Python that can't be changed. Tuples are also sequences.

# Exercise 1: Reverse the tuple

In [10]:
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

# Exercise 2: Access the value 20 from the tuple

In [5]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print("tuple1[0]: ", tuple1[0])
print("tuple1[1]: ",tuple1[1])
print("tuple1[1][1]: ",tuple1[1][1])

tuple1[0]:  Orange
tuple1[1]:  [10, 20, 30]
tuple1[1][1]:  20

# Exercise 3: Create a tuple with single item 50

In [6]:
tuple1 = (50, )
tuple2 = (50)
print("tuple with comma: ",tuple1)
print("tuple without comma: ",tuple2)

tuple with comma:  (50,)
tuple without comma:  50

# Exercise 4: Unpack the tuple into 4 variables

In [8]:
tuple1 = (10, 20, 30, 40)
a, b, c, d = tuple1
print("a:",a)
print("b:",b)
print("c:",c)
print("d:",d)

a: 10
b: 20
c: 30
d: 40

# Exercise 5: Swap two tuples in Python

In [11]:
tuple1 = (11, 22)
tuple2 = (99, 88)
print("Before swapping")
print("tuple1:", tuple1)
print("tuple2:", tuple2)
tuple1, tuple2 = tuple2, tuple1
print("After swapping")
print("tuple1:",tuple1)
print("tuple2:",tuple2)

Before swapping
tuple1: (11, 22)
tuple2: (99, 88)
After swapping
tuple1: (99, 88)
tuple2: (11, 22)

# Exercise 6: Copy the specific elements from one tuple to a new tuple

In [12]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print("tuple2:", tuple2)

tuple2: (44, 55)

# Exercise 7: Modify the tuple

In [14]:
tuple1 = (11, [22, 33], 44, 55)
print("Before:", tuple1)
tuple1[1][0] = 222
print("After:",tuple1)

Before: (11, [22, 33], 44, 55)
After: (11, [222, 33], 44, 55)

# Exercise 8: Sort a tuple of tuples by 2nd item

In [15]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x:x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

# Exercise 9: Counts the number of occurences of item 50 from a tuple

In [17]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

# Exercise 10: Check if all items in the tuple are the same

In [18]:
def check(t):
    return all(i==t[0] for i in t)
tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True