In [1]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger"
)
new_cursor = new_db.cursor()
new_cursor.execute("CREATE DATABASE ourdata")

In [2]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger"
)
new_cursor = new_db.cursor()
new_cursor.execute("SHOW DATABASES")
for n in new_cursor:
    print(n)

('information_schema',)
('mydata',)
('mysql',)
('ourdata',)
('performance_schema',)
('sys',)
('yourdata',)

In [3]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "ourdata"
)
new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE student (name VARCHAR(200), regno VARCHAR(10))")

In [4]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "ourdata"
)
new_cursor = new_db.cursor()
new_cursor.execute("SHOW TABLES")
for n in new_cursor:
    print(n)

('student',)

In [5]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "ourdata"
)
new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE students (rollno INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(200), regno VARCHAR(10))")

In [7]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "ourdata"
)
new_cursor = new_db.cursor()
new_cursor.execute("ALTER TABLE student ADD COLUMN rollno INT AUTO_INCREMENT PRIMARY KEY")

In [8]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "ourdata"
)
new_cursor = new_db.cursor()
sql = "INSERT INTO student (name, regno) VALUES (%s, %s)"
values = ("Aarohi", "2001")
new_cursor.execute(sql, values)
new_db.commit()
print(new_cursor.rowcount, "new record inserted")

1 new record inserted

In [9]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "ourdata"
)
new_cursor = new_db.cursor()
sql = "INSERT INTO student (name, regno) VALUES (%s, %s)"
values = [("Amyra", "2002"),
         ("Neil", "2003"),
         ("Nitesh", "2004")]
new_cursor.executemany(sql,values)
new_db.commit()
print(new_cursor.rowcount, "new record inserted")

3 new record inserted

In [28]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "ourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM student"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Aarohi', '2001', 1)
('Amyra', '2002', 2)
('Neil', '2003', 3)
('Nitesh', '2004', 4)

In [11]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "ourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT name FROM student"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Aarohi',)
('Amyra',)
('Neil',)
('Nitesh',)

In [12]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "yourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM student"
new_cursor.execute(sql)
result = new_cursor.fetchone()
print(result)

('Aarohi', '2001', 1)

In [13]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "ourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM student WHERE name = 'Neil'"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Neil', '2003', 3)

In [14]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "yourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM student WHERE regno LIKE '%00%'"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Aarohi', '2001', 1)
('Amyra', '2002', 2)
('Neil', '2003', 3)
('Nitesh', '2004', 4)

In [15]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "yourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM student ORDER BY name DESC"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Nitesh', '2004', 4)
('Neil', '2003', 3)
('Amyra', '2002', 2)
('Aarohi', '2001', 1)

In [16]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root", 
    password = "tiger",
    database = "yourdata"
)
new_cursor = new_db.cursor()
sql = "INSERT INTO student (name, regno) VALUES (%s, %s)"
values = ("Varsha", "2005")
new_cursor.execute(sql, values)
new_db.commit()
print(new_cursor.rowcount, "new record inserted")

1 new record inserted

In [31]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "ourdata"
)
new_cursor = my_db.cursor()
sql = "DELETE FROM student WHERE rollno = 4"
new_cursor.execute(sql)
my_db.commit()
print(new_cursor.rowcount, "records deleted from table")

1 records deleted from table

In [33]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "tiger",
    database = "ourdata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM student"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Aarohi', '2001', 1)
('Amyra', '2002', 2)
('Neil', '2003', 3)